body {
    margin-top: 50px;
}

.jumbotron img {
    width: 25%;
}

section {
    min-height: 420px;
}

footer {
    min-height: 50px;
    padding-top:12px;
}

.ig-thumbnail {
    with: 100px;
    height: 100px;
    float: left;
    overflow: hidden;
}

.ig-thumbnail img{
    width: 100px;
}

.project-card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.project-card .card-body {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.project-card .btn {
  margin-top: auto;
}